div.modal.fade
  div.modal-dialog
    div.modal-content
      div.modal-header
        h4.modal-title New Character
      div.modal-body  
        form.form-horizontal(name="addCharacterForm")
          fieldset
            .form-group
              label.col-md-2.control-label(for="name") Character Name
              .col-md-10
                input.form-control(name="name", type="text", 
                  placeholder="Name", ng-model="name", required)
            .form-group
              label.col-md-2.control-label(for="charType") Type
              .col-md-10
                select.form-control(name="charType", ng-model="charType",
                  ng-options="item.value as item.text for item in charTypes", required)
            .form-group
              label.col-md-2.control-label(for="group") Group
              .col-md-10
                input.form-control(name="group", type="text", 
                  placeholder="Group", ng-model="group", required)
            .form-group
              label.col-md-2.control-label(for="initiativeBonus") Initiative Bonus
              .col-md-10
                input.form-control(name="initiativeBonus", type="number", 
                  ng-model="initiativeBonus", required)
        div.modal-footer
          button.btn.btn-primary(ng-click="ok()", 
            ng-disabled="addCharacterForm.$invalid") Submit
          button.btn.btn-default(ng-click="cancel()") Cancel
